@font-face {
  font-family: "iconfont"; /* Project id 2559266 */
  src: url('iconfont.woff2?t=1621497918402') format('woff2'),
       url('iconfont.woff?t=1621497918402') format('woff'),
       url('iconfont.ttf?t=1621497918402') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chizi:before {
  content: "\e653";
}

.icon-houduankaifa:before {
  content: "\e62a";
}

.icon-chizi-celiang-:before {
  content: "\e6ce";
}

.icon-app:before {
  content: "\e600";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-fanhui:before {
  content: "\e607";
}

.icon-wangye:before {
  content: "\e637";
}

.icon-V:before {
  content: "\e6be";
}

.icon-shexiangji:before {
  content: "\e634";
}

.icon-dianshizhiboguankanshipinbofangmeiti:before {
  content: "\e60a";
}

.icon-huihua:before {
  content: "\e6c9";
}

.icon-huojian:before {
  content: "\e61e";
}

.icon-collaboration-system:before {
  content: "\e85b";
}

.icon-dianshiju:before {
  content: "\e604";
}

.icon-iconset0129:before {
  content: "\e61c";
}

.icon-weixin:before {
  content: "\e695";
}

.icon-xianshanglianjie:before {
  content: "\e616";
}

.icon-file:before {
  content: "\e650";
}

.icon-phone:before {
  content: "\e696";
}

.icon-zuopinzhuzuo:before {
  content: "\e66c";
}

.icon-sanwei:before {
  content: "\e633";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-dapingzhanshi:before {
  content: "\e670";
}

.icon-ziyuan:before {
  content: "\e71f";
}

.icon-zhihuiketang:before {
  content: "\e632";
}

.icon-duanxin:before {
  content: "\e6e7";
}

.icon-qq:before {
  content: "\e614";
}

.icon-shitusanweishitu:before {
  content: "\e64b";
}

.icon-dianshi:before {
  content: "\e64c";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-ziyuan1:before {
  content: "\e615";
}

