pre{
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal ;       /* Internet Explorer 5.5+ */
}
ul,li{
  list-style: none;
}
.clearFix::after{
  content: '';
  display: block;
  clear: both;
}
.el-dropdown-menu{
  background-color: rgb(255,255,255,.9);
  padding: .05rem 0;
}
.el-dropdown-menu__item{
  font-size: .08rem;
  padding: 0 .1rem;
}
.popper__arrow{
  right: 0;
  margin-right: 0;
}
.el-loading-spinner{
  transform: translateY(-50%);
}
.el-loading-spinner .el-icon-loading{
  font-size: .3rem;
}