.van-dialog{
  width: 2rem;
  height: 1rem;
}
.van-dialog__content{
  height: 70%;
}
.van-dialog__message{
  padding: 0;
  height: .5rem;
  font-size: .13rem;
  text-align: center;
  line-height: .5rem;
}
.van-dialog__footer{
  height: 30%;
}
.van-dialog__footer .van-button{
  height: 100%;
}
